@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 0, 0;
  --background: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --foreground: 255, 255, 255; */
/*     --background: 0, 0, 0; */
/*   } */
/* } */

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: 'Roboto', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  ;
}

.wrapper {
  min-height: 70rem;
}

.slick-slide {
  margin: 0 0px;
}

.slick-active {
  padding: 30px 0;
}

.slick-center {
  transform: scale(1.2)
}

.slick-slide:not(.slick-active) {
  margin: 20px 0;
}

.child {
  width: 100%;
}

.slide:not(.slick-active) {
  cursor: pointer;
}